Flask==2.2.3
Werkzeug==2.2.2
setuptools==70.3.0
redis==4.5.4
opentelemetry-api==1.18.0
opentelemetry-sdk==1.18.0
opentelemetry-exporter-otlp==1.18.0
opentelemetry-instrumentation-flask==0.39b0
opentelemetry-instrumentation-redis==0.39b0